@font-face {
    font-family: "Rubik Medium";
    src: url('../fonts/Rubik-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: "Rubik Light";
    src: url('../fonts/Rubik-Light.ttf');
    font-display: swap;
}

body {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: #c6c6c6;
}

.menu-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 5em;
    height: 40em;
    margin-right: 1%;
    border-radius: 0.5vh;

    background: rgba(0, 0, 0, 0.80);
}

.anims-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 70em;
    height: 40em;
    border-radius: 0.6vh;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
}

.navbar div {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70.5%;
    height: 3.8em;
    background: rgba(0, 0, 0, 0.80);
    border-radius: 0.6vh;
}

.controls {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5%;
    width: 2.5em;
    height: 2.5em;
    background: rgba(0, 0, 0, 0.80);
    border-radius: 0.6vh;
}

.search-bar {
    background: transparent;
    border: transparent;
    font-size: 1.0em;
    font-family: "Rubik Light";
    font-weight: bold;
    color: #dedede;
    border-bottom: 0.15vh solid white;
    outline: none;
    width: 90%;
}

.anims-block {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    overflow-y: auto;
    margin-top: 1.5%;
    width: 100%;
    border-radius: 0.8vh;
}

.anims-block::-webkit-scrollbar {
    width: 0.6vh;
}

.anims-block::-webkit-scrollbar-track {
    background-color: #555;
    border-radius: 1.6vh;
}

.anims-block::-webkit-scrollbar-thumb {
    background: rgb(141, 141, 141);
    border-radius: 1.6vh;
}

.anims-block::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
}

.anim {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24%;
    height: 5.5em;
    margin: 0.35%;
    border-radius: 0.4vh;

    background: rgba(0, 0, 0, 0.70);
}

.anim div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    margin-left: 7.5%;
    font-family: "Rubik Medium";
}

.anim div span:first-of-type {
    color: #FFFFFF;
    font-size: 1.7em;
}

.anim div span:last-of-type {
    color: #C1C1C1;
    font-size: 0.875em;
}

.star {
    color: #999999;
    font-size: 3.0vh;
    margin-right: 10%;
}

@media screen and (min-width: 50.375em) {
    body {
        background: red;
    }
    .menu-container {
        max-width: 4em;
        max-height: 20em;
    }
    .anims-container {
        max-width:  45em;
        max-height: 20em;
    }
}

@media screen and (min-width: 80em) {
    body {
        background: blue;
    }
    .menu-container {
        max-width: 5em;
        max-height: 30em;
    }
    .anims-container {
        max-width: 65em;
        max-height: 30em;
    }
}

@media screen and (min-width: 100em) {
    body {
        background: green;
    }
    .menu-container {
        max-width: 100%;
        max-height: 100%;
    }
    .anims-container {
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (min-width: 160em) {
    body {
        background: yellow;
    }
    .menu-container {
        max-width: 125%;
        max-height: 125%;
    }
    .anims-container {
        max-width: 125%;
        max-height: 125%;
    }
}
